<% include ../partials/header %>
<% include ../partials/nav %>

<link rel="stylesheet" type="text/css" href='/stylesheets/assignment.css'/>

<div class="containerCus">
	<div class="container pt-5">
		<% if(userTypeFaculty){ %>
			<button class=''><a class='btnLink' href='/announcements/new'>Add New Annoucenment </a></button>	
		<% } %>
	
	</div>
	
	<div class="pb-5">
		<% announcement.forEach(function(eachAnnouncement){ %>
			<div class="container pt-5">
				<div class="card assignmentHover">
					<div class="card-header">
						 <h5> Title: <%= eachAnnouncement.title %></h5>
						 <p><em>Posted on: <%= eachAnnouncement.dateCreated%></em></p>
					</div>


					 <div class="card-body">

						<p class="card-text">Describtion: <%= eachAnnouncement.body.substring(0, 80) %>...</p>
						<div class="mask">
							<a href='/announcements/<%= eachAnnouncement._id %>' class='hoverLink'></a>
							<p>Read More</p>
						</div>
					  </div>
				</div>
			</div>
		<% }); %>
	</div>
</div>


	
<% include ../partials/footer %>
