<!DOCTYPE html>
<html lang='en'>
	
	<head>
		<title>Welcome to BB</title>
		<!-- Latest compiled and minified CSS -->
		 <!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width">
    
    	<!-- Google Font -->
    	<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">

    	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    	<!-- Daneden animation -->
    	<link rel="stylesheet" href="/stylesheets/animate.css/animate.min.css">

    	<!-- Custom CSS -->
		<link rel='stylesheet' href='/stylesheets/main.css'>
	</head>

	<body>





