<!DOCTYPE html>
<html lang='en'>
	
	<head>
		<title>Welcome to BB</title>
		<!-- Latest compiled and minified CSS -->
		 <!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    	<!-- Google Font -->
    	<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">

    	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">

    	<!-- Daneden animation -->
    	<link rel="stylesheet" href="/stylesheets/animate.css/animate.min.css">

    	<!-- Custom CSS -->
		<link rel='stylesheet' href='/stylesheets/main.css'>
	</head>

	<body>





