.assignmentHover:hover {
  transform: scale(1.03);
}

.assignmentHover:hover .mask {
  opacity: 0.9;
}

.mask {
  display: flex; 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
	background: #ff6e7f;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #215596, #ff96a2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #215596, #ff96a2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}

.mask p { 
	margin: auto; /* Important */ 
	text-align: center; 
	color: white;
	font-size: 1.4rem;
	font-weight: 500;
}

.hoverLink{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}