header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/cover1.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
}

.cover-text-box {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#welcome-text {
	color: #fff6f2;
	font-size: 6rem;
}

.cardCus {
	background: #fff;
}

.card-header-cus {
	background: #1f2833;
}

.card-body-cus {
	border: solid 1px;
	border-color: #45A29E;
	margin: 1rem;
}

.title {
	color: #ebfcff;
}

.announce-title {
	color: #2a86a3;
	margin-bottom: 22px;
}

.small-space {
	margin-top: -15px;
	font-size: 0.9em;
}

.dot {
  font-size: 4rem;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  background-color:#b98277;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}


div.tui-full-calendar-section-allday {
    display: none;
}

.tui-full-calendar-popup-section-item.tui-full-calendar-section-location {
   display: none;
}

