
/*-------------------------------*/
/****  #2C3E50 MAIN NAVBAR SECTION   ****/

/*-------------------------------*/

body {
	background-color: #fff;
	font-family: "Nunito", sans-serif;
  	padding: 0;
}

.containerCus {
	padding-top: 14rem;
}

#mainNavbar {
  font-size: 1.1em;
  font-weight: 100;
  background: #1f2833;  /* fallback for old browsers */
}

/* Navbar Scroll */
#mainNavbar.scrolled {
background: #2C3E50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar-toggle.collapsed {
    background: red;
}

/* Home-Brand */
#mainNavbar .navbar-brand {
  font-weight: 700;
  color: #66fcf1;
  font-size: 1.3rem;
} 

/* All Links */
#mainNavbar .nav-link {
  color: #e2d7d2;
} 

#mainNavbar .nav-link:hover {
  color: #00848c;
} 

.auth {
  margin-left:auto; 
  margin-right:0;
}