<% include ../partials/header %>
<% include ../partials/nav %>

<link rel="stylesheet" type="text/css" href='/stylesheets/assignment.css'/>

<div class='container containerCus'>
	<form class='formDiv' action='/assignments' method='POST'>
		<h1>Add new assignment</h1>
		
		<div class='form-group pt-2'>
			<label>Assignment Number</label>
			<input type='text' class='form-control' name='assignment[number]' placeholder='input a number: 1, 2, 3, etc.' required>
		</div>
		
		<div class='form-group pt-2'>
			<label>Title</label>
			<input type='text' class='form-control' name='assignment[title]' placeholder='title' required>
		</div>
		
		<div class='form-group field'>
			<label>Due Date</label>
			<input type='Date' class='form-control' name='assignment[dateDue]' placeholder='Due date' required>
		</div>
		
		<div class='form-group field'>
			<label>Description</label>
			<textarea type='text'rows='9' class='form-control' name='assignment[body]' placeholder='description' required></textarea>
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
		<button type="cancel" class="btn btn-primary" onclick="window.location='/assignments'; return false;">Cancel</button>
	</form>
</div>

<% include ../partials/footer %>
